
#brain-symbol{
	margin-top: 10px;
	margin-left: 40px;
	color: RGBA(120, 120, 120, 1);
	border-radius: 100px;
	top: 90px;
	left: 50px;
}

.brain-button{
	position: relative;
	opacity: 0.5;
	left: 10px;
	width: 140px;
	height: 45px;
	background: RGBA(120, 120, 120, 0);
	border: 1px solid RGBA(140,140,140,1);
	border-radius: 50px;
	color: RGBA(120,120,120,1);
	font-family: monospace;
	font-size: 20px;
	margin-top: 10px;
	z-index: 3;

}
.brain-button:hover{
	border: 2px solid RGBA(200,200,200,1);
}

.brain-button:active{
	border: 2px solid RGBA(140,140,140,1);
	color: RGBA(120,120,120,1);
}

#brain-holder{
	position: relative;
	float: left;
	width: 180px;
	height: 500px;
	top: 0px;
	left: 40px;
	z-index: 1;
}

.special-button{
	position: relative;
	opacity: 0.5;
	left: 10px;
	width: 160px;
	height: 45px;
	background: RGBA(170, 170, 170, 0.6);
	border: 1px solid RGBA(240,240,240,1);
	border-left: 7px solid RGBA(240,140,140,1);
	border-radius: 1px;
	color: RGBA(240,240,240,1);
	font-family: monospace;
	font-size: 16px;
	margin-top: 15px;
	z-index: 3;
	box-shadow: 2px 5px 5px RGBA(10,10,10,.9);
}
#update_squares{

}
#random_map{

}
