body{
	margin: 0;
	background: RGBA(20, 20, 20,1.0);
}

#all-holder{
	width: 900px;
	height: 700px;
   margin: 0 auto;
	 padding: 0px;
	background: RGBA(80,70,80,0.25);
	box-shadow: 2px 5px 5px RGBA(10,10,10,.3);
}

canvas{
	width: 500px;
	height: 500px;
	box-shadow: 2px 5px 5px RGBA(20,20,20,.3);
}

#canvas {
	position: relative;
	top: 0px;
	float: left;
	left: 50px;

	background: RGBA(140,0,0,0);
	opacity: 1.0;
	z-index: 3;
}

.button{
	cursor: default;
	outline: 0;
}

.button:hover{
	cursor: default;
	outline: 0;
	background: rgba(0, 0, 0, 0);
}



button::-moz-focus-inner {
  border: 0;
}



title{
	background: #111111;
	color: #cccccc;
}
