
.ui-button{
	position: relative;
	margin: 8px;
	width: 70px;
	height: 40px;
	border-radius: 50px;
	border: 1px solid RGBA(140,140,140,1);
	font-family: monospace;
	font-size: 15px;
	background: rgba(0, 0, 0, 0);
	z-index: 4;
	color: RGBA(120,120,120,1);
}

.ui-button:hover{
	border: 2px solid RGBA(200,200,200,1);
	color: RGBA(200,200,200,1);
	background: rgba(0, 0, 0, 0);
}

.ui-button:active{
	border: 2px solid RGBA(140,140,140,1);
	color: RGBA(120,120,120,1);
	background: rgba(0, 0, 0, 0);
	text-align: center;
}

.ui-button:focus{
	background: rgba(0, 0, 0, 0);
	color: RGBA(120,120,120,1);
}

#ui-holder{
	width: 480px;
	height: 100px;
	z-index: 3;
	margin-left: 280px;
}
